.addFood-container{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   text-align: center;
   align-items: center;
   justify-content: center;
   color: white ;
}
.addFood-container input{
width: 60%;
height: 40px;
background-color: transparent;
border: 2px solid #3C2716;
border-radius: 40px;
font-size: 20px;
padding-left: 20px;
margin-bottom: 10px;
outline: none;
color: white;
}
.addFood-container input::placeholder{
    color: black;
   
}
.addFood-container select{
    width: 60%;
    height: 40px;
    background-color: transparent;
    border: 2px solid #3C2716;
    border-radius: 40px;
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    outline: none;
    /* color: #fff;  */
}
.addFood-container  button{
    width: 15%;
    height: 50px;
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid #3C2716;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}
.addFood-container  button:hover{
    cursor: pointer;
    background-color: #3C2716;
    align-items: center;
   
}